<h1>Welcome to ArcWork</h1>
<p>ArcWork is a powerfull platform that allows professors to manage the homework for all courses they tach in a very simple way</p>
<p>The professor can :
<ul>
    <li>Add a new homework with description and even files which could help the students to start</li>
    <li>See the solutions created by the students and add some remarks and suggestions</li>
    <li>Manage the students registered to his course</li>
</ul>
<p>The student can :
<ul>
    <li>Have a global overview of all the homework he has to do</li>
    <li>Upload a multiple times his own solution and see the remarks of his teacher</li>
    <li>Review all his old homework</li>
</ul>
</p>