<h1>Solutions of <%= @homework.title %></h1>
<p>
    <%= link_to edit_course_homework_url(@course, @homework), class: "btn btn-warning" do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit homework
    <% end %>
</p>
<table class="searchable_datatable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Handed over</th>
    </tr>
    </thead>
    <tbody>
    <% @solutions.each do |solution| %>
        <tr>
            <td><%= link_to solution.user.name_not_null, course_homework_solutions_url(@course, @homework, user_id: solution.user.id) %></td>
            <td><%= solution.date %></td>
        </tr>
    <% end %>
    </tbody>
</table>