<h1><%= @homework.title %></h1>
<%= link_to "Edit homework", edit_course_homework_url(@course, @homework) %>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Handed over</th>
    </tr>
    <% @solutions.each do |solution| %>
        <tr>
            <td><%= solution.user.name %></td>
            <td><%= solution.date %></td>
        </tr>
    <% end %>
</table>