<li class="<%=is_active('homeworks','index_homework_to_do')%>"><%= link_to 'Homework', index_homework_to_do_homeworks_path %></li>
<li class="<%=is_active('homeworks','index_homework_done')%>"><%= link_to 'Past homework', index_homework_done_homeworks_path %></li>
